	<div id="page-content" class="index-page">
		<div class="clearfix no-gutter">
			<div id="main-content" class="col-md-10 fix-right">
				<div class="gutter-7px">
                    <!--ng-repeat="i in [1, 2, 3]"-->
					<div class="col-sm-3">
						<article ng-repeat="b in BooksCtr.books | limitTo : 4 : 0">
							<div class="entry-header">
								<h3 class="entry-title"><a href="#">{{ b.title }}</a></h3>
							</div>
							<div class="post-thumbnail-wrap"><a href="single.html"><img src="{{b.image_url}}" /></a></div>
							<div class="entry-content">
								<a href="single.html">More...</a>
							</div>
						</article>
					</div>

					<div class="col-sm-3">
                        <article ng-repeat="b in BooksCtr.books | limitTo : 4 : 4">
                            <div class="entry-header">
                                <h3 class="entry-title"><a href="#">{{ b.title }}</a></h3>
                            </div>
                            <div class="post-thumbnail-wrap"><a href="single.html"><img src="{{b.image_url}}" /></a></div>
                            <div class="entry-content">
                                <a href="single.html">More...</a>
                            </div>
                        </article>
					</div>

					<div class="col-sm-3">
                        <article ng-repeat="b in BooksCtr.books | limitTo : 4 : 8">
                            <div class="entry-header">
                                <h3 class="entry-title"><a href="#">{{ b.title }}</a></h3>
                            </div>
                            <div class="post-thumbnail-wrap"><a href="single.html"><img src="{{b.image_url}}" /></a></div>
                            <div class="entry-content">
                                <a href="single.html">More...</a>
                            </div>
                        </article>
					</div>

					<div class="col-sm-3">
                        <article ng-repeat="b in BooksCtr.books | limitTo : 4 : 12">
                            <div class="entry-header">
                                <h3 class="entry-title"><a href="#">{{ b.title }}</a></h3>
                            </div>
                            <div class="post-thumbnail-wrap"><a href="single.html"><img src="{{b.image_url}}" /></a></div>
                            <div class="entry-content">
                                <a href="single.html">More...</a>
                            </div>
                        </article>
					</div>

				</div>
			</div>

			<div id="sidebar" class="col-md-2 fix-left">

				<!---- Start Widget ---->
				<div class="widget wid-tags">
					<div class="heading"><h4>Search</h4></div>
					<div class="content">
						<form role="form" class="form-horizontal" method="post" action="">
							<input type="text" placeholder="Enter Search Keywords" value="" name="v_search" id="v_search" class="form-control">
						</form>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-comment">
					<div class="heading"><h4>Categories</h4></div>
					<div class="content">
						<div class="post" ng-repeat="c in BooksCtr.categories">
							<i class="fa fa-arrow-right"></i>
							<div class="wrapper">
								<a href="#"><h5>{{c.name}}</h5></a>
							</div>
						</div>
						<!-- <div class="post">
							<i class="fa fa-arrow-right"></i>
							<div class="wrapper">
								<a href="#"><h5>Database</h5></a>
							</div>
						</div>
						<div class="post">
							<i class="fa fa-arrow-right"></i>
							<div class="wrapper">
								<a href="#"><h5>Asp.net</h5></a>
							</div>
						</div>
						<div class="post">
							<i class="fa fa-arrow-right"></i>
							<div class="wrapper">
								<a href="#"><h5>Java</h5></a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>